/* =========================================================================
                        Lo estandar de todas las pantallas
============================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    z-index: 999;
    overflow-y: auto;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu img {
    width: 70px;
    margin: 50px auto;
}

.opciones {
    width: 100%;
    padding: 0 5px;
    text-align: left;
}

.op1 {
    width: 100%;
    padding: 0 20px;
}

.op2 {
    width: 100%;
    text-align: center;
}

h4 {
    margin: 20px 0;
}

.op2 i {
    margin-right: 10px;
}

.op2 a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    text-align: left;
}


@media (max-width: 1024px) {
    .op2 a {
        padding: 10px 10px;
    }
}

.op2 a:hover {
    background-color: #892CFF;
    color: white;
}

.op2 .active {
    background-color: #892CFF;
    color: white;
}

.btn-cerrar-sesion {
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 10px;
    background-color: #892CFF;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-cerrar-sesion:hover {
    background-color: #48168a;
    color: white;
}

.content {
    width: 80%;
    height: 100vh;
    background-color: #E9E9E9;
    margin-left: 20%;
    overflow-y: auto;
}

/* =========================================================================
                        Lo estandar de todas las pantallas
============================================================================*/

.header {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: right;
}

.content h2{
    margin: 10px
}

.component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.logo{
    width: 100%;
    text-align: center;
}

.logo img{
    width: 20%;
}

/* Estilo general para los botones que solo muestran un ícono */
button {
    background: none;       /* Sin fondo */
    border: none;           /* Sin bordes */
    color: inherit;         /* Hereda el color de texto del padre */
    padding: 5px;           /* Espaciado interno para hacer clic más fácilmente */
    cursor: pointer;        /* Cursor indica que es un elemento clickeable */
    outline: none;          /* Sin contorno al hacer clic */
}

button:focus {
    outline: none;          /* Elimina el contorno al estar enfocado (para accesibilidad, considera otra forma de indicar foco) */
}

button:hover,
button:focus {
    background: #eceaee;
    border-radius: 3px; /* Opcional: un ligero cambio de fondo al pasar el mouse o al estar enfocado */
}

button i {
    font-size: 15px;
    color: #892CFF;        /* Tamaño del ícono */
}

.timeline {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    margin-right: 40px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.circle:last-child {
    margin-right: 0; /* Elimina el margen derecho del último círculo */
}

.circle p{
    position: absolute;
    left: -13px; /* Desplaza el elemento 20px a la izquierda */
    top: 0; /* Puedes ajustar esto según la posición vertical deseada */
    margin: 0;
    padding-top: 30px; /* Espacio entre el círculo y el texto */
    font-size: 12px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-align: center;
}

.circle:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -300%;
    width: 300%; /* Adjust the line length between circles */
    height: 2px;
    background-color: rgb(175, 174, 174);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
}

.circle.active {
    background-color: #892CFF;
}

.circle.entregadoStatus{
    background-color: #25D366;
}

.timeline .circle {
    z-index: 1; /* Ensures circles stay on top of the lines */
}

.timeline .circle:not(:first-child) {
    margin-left: 50px; /* Adjusts the space between circles */
}

.content_info {
    width: 100%;
    margin-top: 20px; /* Reducido de 80px */
    padding: 20px; /* Modificado para aplicar padding uniforme */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Modificado para separar los elementos */
    align-items: flex-start; /* Modificado para alinear los elementos en la parte superior */
}

.content_info .izq {
    width: 50%; /* Reducido para dar espacio al elemento .der */
    text-align: left;
    display: flex;
    flex-direction: column;
}

.content_info .der {
    width: 50%; /* Reducido para dar espacio al elemento .izq */
    text-align: right;
    display: flex;
    align-items: end;
    flex-direction: column;
}

/* Agregado para dar espacio entre los elementos dentro de .izq y .der */
.content_info .izq > p,
.content_info .der > p {
    margin-bottom: 10px;
}

/* Agregado para dar espacio entre los elementos dentro de .p_wpp */
.content_info input, .content_info select {
    width: 70%;
}

.form-group{
    width: 100%;
    padding: 20px;
}

.form-group button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:nth-child(2) {
    margin-left: 10px;
    background-color: #ba0000; /* rojo */
}

.form-group button:hover {
    background-color: #45a049; /* Verde más oscuro */
}

.form-group button:nth-child(2):hover {
    background-color: #910101; /* Azul más oscuro */
}

.table-wrapper {
    max-height: 100%;
    /* Limita la altura máxima del contenedor a la altura del viewport */
    overflow-y: auto;
    /* Agrega un scroll vertical si es necesario */
    margin: 20px;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
}

/* Estilo para las celdas de la tabla */
th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: #892CFF;
    color: white;
}

/* Estilo para el encabezado de la tabla de historial */
.history th {
    background-color: #878787;
    color: white;
}

.entregado {
    color: #25D366;
}

.cancelado {
    color: #ba0000;
}

.address{
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.address .izq{
    width: 50%;
    text-align: right;
    padding: 5px;
}

.address .der{
    width: 50%;
    text-align: left;
    padding: 5px;
}

.morado {
    color: #892CFF;
}

.none {
    display: none;
}

.content_products{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component_products{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.formDataCenter{
    width: 100%;
}

.info-section {
    width: 100%;
    margin-bottom: 20px;
}

.form-row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 15px;
}

.form-group1 input{
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.id_product_pp {
    width: 100%;
}
