/* =========================================================================
                        Lo estandar de todas las pantallas
============================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    z-index: 999;
    overflow-y: auto;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu img {
    width: 70px;
    margin: 50px auto;
}

.opciones {
    width: 100%;
    padding: 0 5px;
    text-align: left;
}

.op1 {
    width: 100%;
    padding: 0 20px;
}

.op2 {
    width: 100%;
    text-align: center;
}

.menu .opciones h4 {
    margin: 20px 0;
}

.op2 i {
    margin-right: 10px;
}

.op2 a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    text-align: left;
}

@media (max-width: 1024px) {
    .op2 a {
        padding: 10px 10px;
    }
}

.op2 a:hover {
    background-color: #892CFF;
    color: white;
}

.btn-cerrar-sesion {
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 10px;
    background-color: #892CFF;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-cerrar-sesion:hover {
    background-color: #48168a;
    color: white;
}

.content {
    width: 80%;
    height: 100vh;
    background-color: #E9E9E9;
    margin-left: 20%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content1 {
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    overflow-y: auto;
}

/* =========================================================================
                        Lo estandar de todas las pantallas
============================================================================*/

.header {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    width: 100%;
    background-color: #dfdfdf;
    margin: 5px 0;
    padding: 5px;
}

.titulo1 {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

.stadystics {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.inStore,
.onWayToCentral,
.inCentral,
.onWayToClient,
.delivered,
.inCentralOrigin,
.onWayBetweenCentrals,
.inCentralDestiny {
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 200px;
}

.inStore {
    background-color: #dfdfdf;
    color: #000000;
}

.onWayToCentral,
.onWayBetweenCentrals {
    background-color: #dfdfdf;
    color: #000000;
}

.inCentral,
.inCentralOrigin {
    background-color: #dfdfdf;
    color: #000000;
}

.inCentralDestiny {
    background-color: #dfdfdf;
    color: #000000;
}

.onWayToClient {
    background-color: #dfdfdf;
    color: #000000;
}

.delivered {
    background-color: #dfdfdf;
    color: #000000;
}

.graphics {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 
                0 6px 6px rgba(0, 0, 0, 0.1);
}

.contentGraphics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.contentGraphics img {
    width: calc(25% - 10px);
    border-radius: 5px;
    margin: 20px;
}

.table-wrapper {
    max-height: 100%;
    /* Limita la altura máxima del contenedor a la altura del viewport */
    overflow-y: auto;
    /* Agrega un scroll vertical si es necesario */
    margin: 20px;
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo para las celdas de la tabla */
th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: #892CFF;
    color: white;
}

.span {
    color: #892CFF;
}

.quantity h2 {
    font-size: 25px;
}